<div class="flex-fill d-flex flex-column justify-content-center py-4">
  <div class="container-tight py-6">
    <div class="text-center mb-4">
      <!-- <a href="."><img src="./static/logo.svg" height="36" alt=""></a> -->
    </div>

    <%= simple_form_for(@user, url: { :action => "update_password" }, method: :post, html: {class: "card card-md" }) do |f| %>
      <%= f.error_notification %>
      
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Change your password</h2>
        <div class="mb-3">
          <%= f.input :password,
                      required: true,
                      label_html: { class: "form-label" },
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="form-footer">
          <%= f.button :button, "Update", class: "btn btn-primary w-100", 
                       :data => { disable_with: "<div class="'spinner-border'" role="'status'"></div>"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>